<html>
    <head>
        <title>ChitChat</title>
    </head>
    <body>
        <% include header %>

        Hello ChitChat
        <a href = "signin">Sign In</a>
        <a href = "signup">Sign Up</a>

        <% include footer %>    
    </body>
</html>