<html>
    <head>
        <title>SignIn|ChitChat</title>
        <link rel = "stylesheet" type = "text/css" href = "css/form.css">
    </head>
    <body>
        <% include header %>
        <form class = "form" name = "signIn" method = "POST" action = "chat">
            <span class = "head">Sign In</span>
            Email: <br>
            <input type = "text" name = "email"> <br>
            Password: <br>
            <input type = "password" name = "password"> <br>
            <input class = "button" type = "submit" value = "submit">
        </form>

        <% include footer %>    
    </body>
</html>