<html>
    <head>
        <title>SignUp|ChitChat</title>
    </head>
    <body>
        <% include header %>
        Sign Up here:
        <form name = "signUp" method = "POST" action = "signup_auth">
            Email: <br>
            <input type = "text" name = "email"> <br>
            Password: <br>
            <input type = "password" name = "password"> <br>
            <input type = "submit" value = "submit">
        </form>

        <% include footer %>    
    </body>
</html>