<html>
    <head>
        <title>SignUp|ChitChat</title>
        <link rel = "stylesheet" type = "text/css" href = "css/form.css">
    </head>
    <body>
        <% include header %>
        <form class = "form" name = "signUp" method = "POST" action = "signup_auth">
            <span class = "head">Sign Up</span>
            Email: <br>
            <input type = "text" name = "email"> <br>
            Password: <br>
            <input type = "password" name = "password"> <br>
            <input class = "button" type = "submit" value = "submit">
        </form>

        <% include footer %>    
    </body>
</html>